<div id="hatrack">
  <div id="header">
    <div id="font_controls">
      <a href="#" class="fontSize down">-A</a>
      <a href="#" class="fontSize reset">A</a>
      <a href="#" class="fontSize up">A+</a>

    </div>
    <div id="controls">
      <a href="#" class="toggle yellow">Yellow</a>
      <a href="#" class="toggle black">black</a>
      <a href="/sprint/new">New Sprint</a>
    </div>

    <ul id="sprints">
      <% @sprints.each do |sprint| %>
        <a href="/sprint/show/<%= sprint.id %>"><%= sprint.created_at %></a>
      <% end %>
    </ul>
  </div>

  <table id="racks">
    <tr>
      <td id="yellow" class="rack" style="width:50%;">
        <div class="column_header"><a href="#" class="add_hat yellow"><img src="/images/add.png"></a></div>
        <ul class="list">
          <% @current_sprint.yellow_hats.each do |hat| %>
            <%= render :partial => '/hats/yellow', :locals => {:hat => hat} %>
          <% end %>
        </ul>
      </td>

      <td id="black" class="rack" style="width:50%;">
        <div class="column_header"><a href="#" class="add_hat black"><img src="/images/add.png"></a></div>

        <ul class="list">
          <% @current_sprint.black_hats.each do |hat| %>
            <%= render :partial => '/hats/black', :locals => {:hat => hat} %>
          <% end %>
        </ul>
      </td>
    </tr>
  </table>
</div>

