
#login.form
  - semantic_form_for resource_name, resource, :url => session_path(resource_name) do |form|
    - form.inputs do
      = form.input :email
      = form.input :password

      //- if devise_mapping.rememberable?
      = form.input :remember_me, :as => :boolean
    - form.buttons do
      %button{:type => 'submit'} Sign in

  = render :partial => "shared/devise_links" 

