/* line 4, ../../../app/stylesheets/hatrack.sass */
html {
  height: 100%; }

/* line 7, ../../../app/stylesheets/hatrack.sass */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 950px;
  line-height: normal;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .08em; }

/* line 16, ../../../app/stylesheets/hatrack.sass */
#hatrack {
  position: relative;
  width: 100%;
  height: 100%; }
  /* line 21, ../../../app/stylesheets/hatrack.sass */
  #hatrack img {
    margin: 0;
    padding: 0; }
  /* line 25, ../../../app/stylesheets/hatrack.sass */
  #hatrack #new_hat {
    display: none;
    position: absolute;
    width: 21em;
    text-align: center;
    min-height: 30px;
    border: 2px  solid;
    border-color: #0017b2;
    left: 100px;
    top: 36px;
    padding: 10px;
    color: #000;
    line-height: 30px;
    background: #E1E3F5 url(/images/form_bg.png) repeat-x 0 0;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px; }
  /* line 41, ../../../app/stylesheets/hatrack.sass */
  #hatrack .underline {
    text-decoration: underline; }

/* line 44, ../../../app/stylesheets/hatrack.sass */
#header {
  height: 40px;
  background-color: #0017b2;
  padding: 0 10px 0;
  position: relative; }
  /* line 51, ../../../app/stylesheets/hatrack.sass */
  #header .form_toggle {
    float: left;
    color: #fff;
    font-size: 12px;
    margin: 16px 0 0;
    padding: 0 5px; }
  /* line 58, ../../../app/stylesheets/hatrack.sass */
  #header #current_sprint {
    float: left;
    position: relative;
    display: inline;
    background: #fff url(/images/show_sprints.png) no-repeat 98% 8px;
    color: #0017b2;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 20px 3px 10px;
    margin: 6px 0 0;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    /* line 73, ../../../app/stylesheets/hatrack.sass */
    #header #current_sprint .form {
      display: none;
      position: absolute;
      width: 300px;
      border: 2px  solid;
      border-color: #0017b2;
      left: 100px;
      top: 34px;
      background: #E1E3F5 url(/images/form_bg.png) repeat-x 0 0;
      padding: 10px;
      color: #000;
      line-height: 30px;
      -moz-border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px; }
    /* line 88, ../../../app/stylesheets/hatrack.sass */
    #header #current_sprint #new_sprint_form {
      height: 190px; }
  /* line 91, ../../../app/stylesheets/hatrack.sass */
  #header #logo {
    text-transform: uppercase;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    letter-spacing: 2px;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    left: 46%;
    top: 4px; }
  /* line 98, ../../../app/stylesheets/hatrack.sass */
  #header #sprints {
    display: none;
    position: absolute;
    width: 300px;
    border: 2px  solid;
    border-color: #0017b2;
    left: 50px;
    top: 39px;
    background: #E1E3F5 url(/images/form_bg.png) repeat-x 0 0;
    padding: 15px 0;
    color: #000;
    list-style: none;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px; }
    /* line 113, ../../../app/stylesheets/hatrack.sass */
    #header #sprints a {
      display: block;
      color: #000;
      text-decoration: none;
      padding: 3px 10px;
      font-size: 14px;
      line-height: 18px; }
    /* line 121, ../../../app/stylesheets/hatrack.sass */
    #header #sprints a:hover {
      background-color: #0017b2;
      color: #fff; }
  /* line 127, ../../../app/stylesheets/hatrack.sass */
  #header #keyboard_controls {
    float: right;
    margin: 3px 10px;
    padding: 1px 3px;
    font-size: 14px;
    color: #fff;
    border: 3px #fff solid;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; }
    /* line 136, ../../../app/stylesheets/hatrack.sass */
    #header #keyboard_controls #hints {
      display: none;
      position: absolute;
      width: 600px;
      border: 2px  solid;
      border-color: #0017b2;
      right: 50px;
      top: 39px;
      background: #E1E3F5 url(/images/form_bg.png) repeat-x 0 0;
      padding: 15px 10px;
      color: #000;
      list-style: none;
      -moz-border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px; }
      /* line 152, ../../../app/stylesheets/hatrack.sass */
      #header #keyboard_controls #hints ul {
        list-style: none; }
        /* line 155, ../../../app/stylesheets/hatrack.sass */
        #header #keyboard_controls #hints ul .question {
          font-weight: bold; }
        /* line 158, ../../../app/stylesheets/hatrack.sass */
        #header #keyboard_controls #hints ul .answer {
          margin-bottom: 8px; }
  /* line 162, ../../../app/stylesheets/hatrack.sass */
  #header #column_controls {
    float: right;
    margin: 0 20px;
    padding: 6px 0 0; }
    /* line 167, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .toggle {
      display: none;
      float: right;
      width: 70px;
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      padding: 3px 10px;
      margin: 0 0 0 5px;
      background: #999 url(/images/show_rack.png) no-repeat 90% 7px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
      /* line 179, ../../../app/stylesheets/hatrack.sass */
      #header #column_controls .toggle img {
        width: 10px;
        height: 5px;
        vertical-align: 3px;
        padding: 0 0 0 3px; }
    /* line 186, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .yellow {
      color: #fffcc4; }
    /* line 189, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .black {
      color: #051e36; }
    /* line 193, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .disabled {
      display: block; }
  /* line 196, ../../../app/stylesheets/hatrack.sass */
  #header #font_controls {
    float: right;
    margin: 0;
    padding: 0;
    line-height: 30px; }
    /* line 204, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize {
      font-weight: bold;
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      padding: 0 5px; }
    /* line 213, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize.reset {
      font-size: 20px;
      text-decoration: none; }
    /* line 217, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize.up {
      font-size: 25px;
      text-decoration: none; }

/* line 222, ../../../app/stylesheets/hatrack.sass */
#racks {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px;
  margin: 0;
  padding: 0;
  height: 90%; }
  /* line 231, ../../../app/stylesheets/hatrack.sass */
  #racks .rack {
    background-color: #ddd;
    border: 1px solid;
    border-color: #0017b2;
    margin: 0 10px;
    vertical-align: top;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    /* line 240, ../../../app/stylesheets/hatrack.sass */
    #racks .rack .column_header {
      background-color: #0017b2;
      padding: 6px 10px;
      -moz-border-radius: 9px 9px 0 0;
      -webkit-border-radius: 9px 9px 0 0; }
      /* line 246, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .column_header button {
        font-size: .8em; }
      /* line 249, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .column_header img {
        padding: 4px;
        height: .5em;
        float: right; }
    /* line 254, ../../../app/stylesheets/hatrack.sass */
    #racks .rack .list {
      margin: 0;
      padding: 0;
      list-style: none; }
    /* line 260, ../../../app/stylesheets/hatrack.sass */
    #racks .rack .hat_item {
      clear: both; }
      /* line 263, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item .actions {
        float: right;
        height: 20px;
        padding: 3px 3px 0; }
        /* line 268, ../../../app/stylesheets/hatrack.sass */
        #racks .rack .hat_item .actions button {
          margin: 3px;
          float: right;
          font-size: .75em;
          visibility: hidden; }
        /* line 274, ../../../app/stylesheets/hatrack.sass */
        #racks .rack .hat_item .actions .promotions {
          float: right;
          background-color: #fffcc4;
          padding: 2px 4px;
          margin: 3px;
          font-size: .75em;
          color: #565656;
          font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px; }
      /* line 286, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item:hover .actions button {
        visibility: visible; }
      /* line 289, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item .hat {
        border-bottom: 1px solid;
        border-color: #0017b2;
        padding: 5px;
        font-size: 1em;
        margin: 0; }
      /* line 297, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item textarea {
        width: 98%;
        min-height: 60px;
        font-size: 1em; }
  /* line 306, ../../../app/stylesheets/hatrack.sass */
  #racks #yellow .hat {
    background-color: #fffcc4; }
  /* line 312, ../../../app/stylesheets/hatrack.sass */
  #racks #black .hat {
    border-bottom: 0px;
    background-color: #051e36;
    color: #ffffff;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px; }
  /* line 320, ../../../app/stylesheets/hatrack.sass */
  #racks .green_hat {
    background-color: #2f8738;
    color: #ffffff;
    margin: 0 0 0 20px;
    padding: 5px;
    font-size: 1em; }

/* line 329, ../../../app/stylesheets/hatrack.sass */
button {
  margin: 0 7px;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer; }

/* line 332, ../../../app/stylesheets/hatrack.sass */
#logout {
  background-color: #0017b2;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  text-decoration: none; }
  /* line 343, ../../../app/stylesheets/hatrack.sass */
  #logout:hover {
    background-color: #fff;
    color: #0017b2; }
