/* line 1, ../../../app/stylesheets/hatrack.sass */
html {
  height: 100%; }

/* line 4, ../../../app/stylesheets/hatrack.sass */
body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 10, ../../../app/stylesheets/hatrack.sass */
#hatrack {
  position: relative;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%; }
  /* line 17, ../../../app/stylesheets/hatrack.sass */
  #hatrack img {
    margin: 0;
    padding: 0; }
  /* line 21, ../../../app/stylesheets/hatrack.sass */
  #hatrack #new_hat {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 300px;
    top: 25px;
    border: 2px #000 solid;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    display: none; }
  /* line 33, ../../../app/stylesheets/hatrack.sass */
  #hatrack #new_hat.enabled {
    display: block; }

/* line 36, ../../../app/stylesheets/hatrack.sass */
#header {
  height: 40px;
  background-color: #3366ff;
  padding: 0 10px 0;
  position: relative; }
  /* line 42, ../../../app/stylesheets/hatrack.sass */
  #header #current_sprint {
    position: relative;
    display: inline;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px 0;
    cursor: pointer; }
    /* line 52, ../../../app/stylesheets/hatrack.sass */
    #header #current_sprint .formtastic {
      display: none; }
  /* line 56, ../../../app/stylesheets/hatrack.sass */
  #header #current_sprint.edit .formtastic {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px black solid;
    left: 100px;
    top: 40px;
    background-color: #fff;
    padding: 10px; }
  /* line 67, ../../../app/stylesheets/hatrack.sass */
  #header #logo {
    display: inline;
    font-size: 18px; }
  /* line 71, ../../../app/stylesheets/hatrack.sass */
  #header #sprints {
    position: absolute;
    border: 1px black solid;
    background-color: #fff;
    display: none;
    margin: 0;
    padding: 0; }
  /* line 79, ../../../app/stylesheets/hatrack.sass */
  #header #sprints.enable {
    display: block; }
  /* line 83, ../../../app/stylesheets/hatrack.sass */
  #header #font_controls {
    float: right;
    margin: 0;
    padding: 0; }
    /* line 89, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize {
      font-weight: bold;
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      padding: 0 5px; }
    /* line 98, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize.reset {
      font-size: 20px;
      text-decoration: none; }
    /* line 102, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize.up {
      font-size: 25px;
      text-decoration: none; }

/* line 107, ../../../app/stylesheets/hatrack.sass */
#racks {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px;
  margin: 0;
  padding: 0;
  height: 90%; }
  /* line 116, ../../../app/stylesheets/hatrack.sass */
  #racks .rack {
    background-color: #ddd;
    margin: 0 10px;
    vertical-align: top;
    overflow: hidden; }
  /* line 123, ../../../app/stylesheets/hatrack.sass */
  #racks .list {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 129, ../../../app/stylesheets/hatrack.sass */
  #racks .hat_item {
    clear: both; }
    /* line 132, ../../../app/stylesheets/hatrack.sass */
    #racks .hat_item .actions {
      float: right;
      height: 20px;
      padding: 3px 3px 0; }
      /* line 137, ../../../app/stylesheets/hatrack.sass */
      #racks .hat_item .actions img {
        height: 16px;
        width: 16px;
        padding: 0 5px;
        margin: 0; }
    /* line 143, ../../../app/stylesheets/hatrack.sass */
    #racks .hat_item .hat {
      border-bottom: 1px #000 solid;
      padding: 5px;
      font-size: 1em;
      margin: 0; }
    /* line 150, ../../../app/stylesheets/hatrack.sass */
    #racks .hat_item textarea {
      width: 98%;
      min-height: 60px;
      font-size: 1em; }
  /* line 157, ../../../app/stylesheets/hatrack.sass */
  #racks #yellow {
    background-color: :#ffffcc; }
  /* line 161, ../../../app/stylesheets/hatrack.sass */
  #racks #yellow .hat {
    background-color: #ffff00; }
  /* line 165, ../../../app/stylesheets/hatrack.sass */
  #racks #black {
    background-color: #cccccc; }
  /* line 169, ../../../app/stylesheets/hatrack.sass */
  #racks #black .hat {
    border-bottom: 0px;
    background-color: #000000;
    color: #ffffff;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px; }
  /* line 177, ../../../app/stylesheets/hatrack.sass */
  #racks .green_hat {
    background-color: #006600;
    color: #ffffff;
    margin: 0 0 0 20px;
    padding: 5px;
    font-size: 1em; }
