/* line 14, ../../../app/stylesheets/hatrack.sass */
html {
  height: 100%; }

/* line 17, ../../../app/stylesheets/hatrack.sass */
body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 23, ../../../app/stylesheets/hatrack.sass */
#hatrack {
  position: relative;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%; }
  /* line 30, ../../../app/stylesheets/hatrack.sass */
  #hatrack img {
    margin: 0;
    padding: 0; }
  /* line 34, ../../../app/stylesheets/hatrack.sass */
  #hatrack #new_hat {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 300px;
    top: 25px;
    border: 2px #000 solid;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    display: none; }
  /* line 46, ../../../app/stylesheets/hatrack.sass */
  #hatrack .underline {
    text-decoration: underline; }

/* line 49, ../../../app/stylesheets/hatrack.sass */
#header {
  height: 40px;
  background-color: #0017b2;
  padding: 0 10px 0;
  position: relative; }
  /* line 55, ../../../app/stylesheets/hatrack.sass */
  #header #current_sprint {
    position: relative;
    display: inline;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px 0;
    cursor: pointer;
    line-height: 30px; }
  /* line 67, ../../../app/stylesheets/hatrack.sass */
  #header #edit_sprint_form {
    display: none; }
  /* line 70, ../../../app/stylesheets/hatrack.sass */
  #header #new_sprint_form {
    display: none; }
  /* line 73, ../../../app/stylesheets/hatrack.sass */
  #header .formtastic {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px black solid;
    left: 100px;
    top: 40px;
    background-color: #fff;
    padding: 10px; }
  /* line 83, ../../../app/stylesheets/hatrack.sass */
  #header #logo {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    letter-spacing: 2px;
    color: #fff;
    line-height: 30px; }
  /* line 93, ../../../app/stylesheets/hatrack.sass */
  #header #sprints {
    position: absolute;
    border: 1px black solid;
    background-color: #fff;
    display: none;
    margin: 0;
    padding: 0; }
  /* line 101, ../../../app/stylesheets/hatrack.sass */
  #header #sprints.enable {
    display: block; }
  /* line 104, ../../../app/stylesheets/hatrack.sass */
  #header #keyboard_controls {
    float: right;
    margin: 3px 10px;
    padding: 1px 3px;
    font-size: 14px;
    color: #fff;
    border: 3px #fff solid;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; }
    /* line 113, ../../../app/stylesheets/hatrack.sass */
    #header #keyboard_controls #hints {
      display: none; }
  /* line 116, ../../../app/stylesheets/hatrack.sass */
  #header #column_controls {
    float: right;
    margin: 0 20px;
    padding: 8px 0 0; }
    /* line 121, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .toggle {
      display: none;
      float: right;
      cursor: pointer;
      font-size: 14px;
      padding: 3px 10px;
      margin: 0 0 0 5px;
      background-color: #999;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
      /* line 131, ../../../app/stylesheets/hatrack.sass */
      #header #column_controls .toggle img {
        width: 10px;
        height: 5px;
        vertical-align: 3px;
        padding: 0 0 0 3px; }
    /* line 138, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .yellow {
      color: #fffcc4; }
    /* line 141, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .black {
      color: #051e36; }
    /* line 145, ../../../app/stylesheets/hatrack.sass */
    #header #column_controls .disabled {
      display: block; }
  /* line 148, ../../../app/stylesheets/hatrack.sass */
  #header #font_controls {
    float: right;
    margin: 0;
    padding: 0;
    line-height: 30px; }
    /* line 156, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize {
      font-weight: bold;
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      padding: 0 5px; }
    /* line 165, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize.reset {
      font-size: 20px;
      text-decoration: none; }
    /* line 169, ../../../app/stylesheets/hatrack.sass */
    #header #font_controls .fontSize.up {
      font-size: 25px;
      text-decoration: none; }

/* line 174, ../../../app/stylesheets/hatrack.sass */
#racks {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px;
  margin: 0;
  padding: 0;
  height: 90%; }
  /* line 183, ../../../app/stylesheets/hatrack.sass */
  #racks .rack {
    background-color: #ddd;
    border: 1px solid;
    border-color: #0017b2;
    margin: 0 10px;
    vertical-align: top;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    /* line 192, ../../../app/stylesheets/hatrack.sass */
    #racks .rack .column_header {
      background-color: #0017b2;
      padding: 6px 10px;
      -moz-border-radius: 9px 9px 0 0;
      -webkit-border-radius: 9px 9px 0 0; }
      /* line 198, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .column_header button {
        font-size: .8em; }
      /* line 201, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .column_header img {
        padding: 4px;
        height: .5em;
        float: right; }
    /* line 206, ../../../app/stylesheets/hatrack.sass */
    #racks .rack .list {
      margin: 0;
      padding: 0;
      list-style: none; }
    /* line 212, ../../../app/stylesheets/hatrack.sass */
    #racks .rack .hat_item {
      clear: both; }
      /* line 215, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item .actions {
        float: right;
        height: 20px;
        padding: 3px 3px 0; }
        /* line 220, ../../../app/stylesheets/hatrack.sass */
        #racks .rack .hat_item .actions button {
          margin: 3px;
          float: right;
          font-size: .75em;
          visibility: hidden; }
        /* line 226, ../../../app/stylesheets/hatrack.sass */
        #racks .rack .hat_item .actions .promotions {
          float: right;
          background-color: #fffcc4;
          padding: 2px 4px;
          margin: 3px;
          font-size: .75em;
          color: #565656;
          font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px; }
      /* line 238, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item:hover .actions button {
        visibility: visible; }
      /* line 241, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item .hat {
        border-bottom: 1px solid;
        border-color: #0017b2;
        padding: 5px;
        font-size: 1em;
        margin: 0; }
      /* line 249, ../../../app/stylesheets/hatrack.sass */
      #racks .rack .hat_item textarea {
        width: 98%;
        min-height: 60px;
        font-size: 1em; }
  /* line 258, ../../../app/stylesheets/hatrack.sass */
  #racks #yellow .hat {
    background-color: #fffcc4; }
  /* line 264, ../../../app/stylesheets/hatrack.sass */
  #racks #black .hat {
    border-bottom: 0px;
    background-color: #051e36;
    color: #ffffff;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px; }
  /* line 272, ../../../app/stylesheets/hatrack.sass */
  #racks .green_hat {
    background-color: #2f8738;
    color: #ffffff;
    margin: 0 0 0 20px;
    padding: 5px;
    font-size: 1em; }

/* line 281, ../../../app/stylesheets/hatrack.sass */
button {
  margin: 0 7px;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer; }
