html {
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
	height: 100%;
}

#hatrack {
  position: relative;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;;
  width: 100%;
	height: 100%;
}

#font_controls{
  float:right;
}

.fontSize{
  font-weight: bold;
  font-size: 20px;
  color: #003366;
  text-decoration:none;
  padding: 0 5px;
}

.fontSize.up{
  font-size:40px;
}
.fontSize.reset{
  font-size:30px;
}

#sprints{
  margin:0;
  padding: 0;
}

#header{
  height:10%;
}
#racks {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px ;
  margin:0;
  padding: 0;
	height: 90%;
}

.rack {
  background-color: #ddd;
  margin: 0 10px;
  vertical-align: top;
  overflow:hidden;
}

.list{
  margin:0;
  padding: 0;
  list-style:none;
}

.hat {
  border-bottom: 1px #000 solid;
  padding: 5px;
  font-size: 1em;
  margin:0;
}

.hat textarea {
  width: 98%;
  min-height: 60px;
  font-size: 1em;
}

.hat_item{
  clear:both;
}
.hat_item .actions{
  float:right;
  height: 20px;
  padding:3px 3px 0 ;
}
.hat_item .actions img{
  height:16px;
  width:16px;
  padding: 0 5px;
}
#yellow {
  background-color: #ffffcc;
}

#yellow .hat {
  background-color: #ffff00;
}

#black {
  background-color: #cccccc;
}

#black .hat {
  border-bottom: 0px;
  background-color: #000000;
  color: #ffffff;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

#black .green {
  border-bottom: 1px #000 solid;
  background-color: #006600;
  color: #ffffff;
  margin: 0 0 0 20px;
}

.hat:hover {

}
