!header_color = #0017B2
!yellow = #FFFCC4
!black = #051E36
!green = #2F8738

=border-radius(!rad)
  :-moz-border-radius = !rad
  :-webkit-border-radius = !rad

=border-radius-top(!rad)
  :-moz-border-radius = !rad !rad 0 0
  :-webkit-border-radius = !rad !rad 0 0

=border-radius-bottom(!rad)
  :-moz-border-radius = 0 0 !rad !rad
  :-webkit-border-radius = 0 0 !rad !rad

html
  :height 100%

body 
  :margin 0 
  :padding 0
  :height 100%
  :min-width 950px


#hatrack 
  :position relative
  :font-size 12px
  :font-family Arial, Helvetica, sans-serif
  :letter-spacing .08em
  :width 100%
  :height 100%

  img
    :margin 0
    :padding 0

  #new_hat
    :display none
    :position absolute
    :width 21em
    :text-align center
    :min-height 30px
    :border 2px  solid
    :border-color = !header_color
    :left 100px
    :top 36px
    :background #E1E3F5 url(/images/form_bg.png) repeat-x 0 0
    :padding 10px
    :color #000
    :line-height 30px
    +border-radius-bottom(10px)

  .underline
    :text-decoration underline

#header
  :height 40px
  :background-color = !header_color
  :padding 0 10px 0
  :position relative
  

  .form_toggle
    :float left
    :color #fff
    :font-size 12px
    :margin 16px 0 0 
    :padding 0 5px

  #current_sprint
    :float left
    :position relative
    :display inline
    :background #fff url(/images/show_sprints.png) no-repeat 98% 8px
    :color = !header_color
    :font-weight bold
    :font-size 14px
    :padding 3px 20px 3px 10px
    :margin 6px 0 0 
    :cursor pointer
    +border-radius(10px)



    .form
      :display none
      :position absolute
      :width 300px
      :height 260px
      :border 2px  solid
      :border-color = !header_color
      :left 100px
      :top 34px
      :background #E1E3F5 url(/images/form_bg.png) repeat-x 0 0
      :padding 10px
      :color #000
      :line-height 30px
      +border-radius-bottom(10px)

    #new_sprint_form
      :height 190px
      
  #logo
    :font-size 18px
    :text-transform uppercase
    :font-family Tahoma, Arial, Verdana, sans-serif
    :letter-spacing 2px
    :color #fff
    :line-height 30px
    :position absolute
    :left 46%
    :top 4px


  #sprints
    :display none
    :position absolute
    :width 300px
    :min-height 120px
    :border 2px  solid
    :border-color = !header_color
    :left 50px
    :top 39px
    :background #E1E3F5 url(/images/form_bg.png) repeat-x 0 0
    :padding 15px 0
    :color #000
    :list-style none
    +border-radius-bottom(10px)

    a
      :display block
      :color #000
      :text-decoration none
      :padding 3px 10px
      :font-size 14px
      :line-height 18px

    a:hover
      :background-color = !header_color
      :color #fff



  #keyboard_controls
    :float right
    :margin 3px 10px
    :padding 1px 3px
    :font-size 14px
    :color #fff
    :border 3px #fff solid
    +border-radius(20px)

    #hints
      :display none
      :position absolute
      :width 600px
      :min-height 120px
      :max-height 240px
      :border 2px  solid
      :border-color = !header_color
      :right 50px
      :top 39px
      :background #E1E3F5 url(/images/form_bg.png) repeat-x 0 0
      :padding 15px 10px 
      :color #000
      :list-style none
      +border-radius-bottom(10px)

      ul
        :list-style none

        .question
          :font-weight bold

        .answer
          :margin-bottom 8px
        

  #column_controls
    :float right
    :margin 0 20px
    :padding 6px 0 0
    
    .toggle
      :display none
      :float right
      :width 70px
      :text-align center
      :cursor pointer
      :font-size 14px
      :padding 3px 10px
      :margin 0 0 0 5px
      :background #999 url(/images/show_rack.png) no-repeat 90% 7px
      +border-radius(3px)

      img
        :width 10px
        :height 5px
        :vertical-align 3px
        :padding 0 0 0 3px


    .yellow
      :color = !yellow

    .black
      :color = !black


    .disabled
      :display block

  #font_controls
    :float right
    :margin 0
    :padding 0
    :line-height 30px



    .fontSize
      :font-weight bold
      :font-size 15px
      :color #fff
      :text-decoration none
      :padding 0 5px



    .fontSize.reset
      :font-size 20px
      :text-decoration none

    .fontSize.up
      :font-size 25px
      :text-decoration none


#racks 
  :width 100%
  :border-collapse separate
  :border-spacing 16px
  :margin 0
  :padding 0
  :height 90%


  .rack
    :background-color #ddd
    :border 1px solid
    :border-color = !header_color
    :margin 0 10px
    :vertical-align top
    :overflow hidden
    +border-radius(10px)
    
    .column_header
      :background-color = !header_color
      :padding 6px 10px
      +border-radius-top(9px)


      button
        :font-size .8em

      img
        :padding 4px
        :height .5em
        :float right

    .list
      :margin 0
      :padding 0
      :list-style none


    .hat_item
      :clear both

      .actions
        :float right
        :height 20px
        :padding 3px 3px 0

        button
          :margin 3px 
          :float right
          :font-size .75em
          :visibility hidden

        .promotions
          :float right
          :background-color = !yellow
          :padding 2px 4px
          :margin 3px
          :font-size .75em
          :color #565656
          :font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
          +border-radius(5px)
          
      &:hover
        .actions
          button
            :visibility visible

      .hat
        :border-bottom 1px solid
        :border-color = !header_color
        :padding 5px
        :font-size 1em
        :margin 0


      textarea
        :width 98%
        :min-height 60px
        :font-size 1em





  #yellow .hat
    :background-color = !yellow




  #black .hat
    :border-bottom 0px
    :background-color = !black
    :color #ffffff
    :-moz-border-radius-bottomleft 7px
    :-webkit-border-bottom-left-radius 7px


  .green_hat
    :background-color = !green
    :color #ffffff
    :margin 0 0 0 20px
    :padding 5px
    :font-size 1em



button
  :margin 0 7px

  :background-color #f5f5f5
  :border 1px solid #dedede
  :border-top 1px solid #eee
  :border-left 1px solid #eee
  +border-radius(.4em)
  :font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
  :font-size 100%
  :line-height 100%
  :text-decoration none
  :font-weight bold
  :color #565656
  :cursor pointer

#logout
  :background-color = !header_color
  :color #fff
  :font-weight bold
  :padding 5px
  :position absolute
  :left 0
  :bottom 0
  :text-decoration none

  &:hover
    :background-color #fff
    :color = !header_color