%ul
  %li.question What are the keybaord shortcuts?
  %li.answer Hitting H or N opens Add Hat window, hitting B or Y next creates a new hat. While a textarea is open Alt-H opens window. Hitting escape closes all pop ups.

  %li.question What does promote do?
  %li.answer It will promote a black hat to the current open sprint and increase the promotion counter by one. If the black hat currently lives in current open sprint, you must close the sprint and create a new sprint. 

  %li.question How do i get this to work in IE?
  %li.answer Download Chrome, Firefox, or Safari
  
  %li.question Why are there control to increase the font size?
  %li.answer At my office we do our hats on a projector and the font size can we small.  This allows you to increase the hat font-size without increasing the ALL the fonts 
