%ul
  %li.question What are the keybaord shortcuts?
  %li.answer Hitting H or N opens Add Hat window, hitting B or Y next creates a new hat. While a textarea is open Alt-H opens window. Hitting escape closes all pop ups.

  %li.question How do i get this to work in IE?
  %li.answer Download Chrome, Firefox, or Safari
  
