%li.hat_item
  .actions
    - if hat.promotions
      .promotions{:title => "This hat has been promoted #{pluralize(hat.promotions,'time')}  "}= hat.promotions
    %button.promote{:value => hat.id} Promote

  .hat.e.black{:id=>"black_#{hat.id}"}= hat.text
  .green_hat
    %div.text{:id=>"green_text_#{hat.id}"}= hat.green_hat.try(:text)
    %div.owner{:id=>"green_owner_#{hat.id}"}= hat.green_hat.try(:owner)

