!!! 5
%html
  %head
    %title Agile Hat Rack
    = include_stylesheets :blueprint, :common,:homepage, :media => 'screen'

  %body
    #homepage
      #header
        #logo HATRACK
        
      #content
        = yield


  :javascript

    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    try {
      var pageTracker = _gat._getTracker("UA-15173540-1");
      pageTracker._trackPageview();
    } catch(err) {}


  
